.link {
  color: red;
  text-align: center;
  margin: 2rem 2rem;
  fontweight: bold;
  margin-top: 1rem !important;
}
.link-primary {
  color: #e21717;
  background-color: #50dbb4;
  padding: 1rem;
  margin-top: 3rem !important;
  border-radius: 2rem;
}
.link-secondary {
  color: #cad5e2;
  background-color: #e6425e;
  padding: 1rem;

  border-radius: 2rem;
}

.project-text-align {
  margin: 1.2rem;
}
.bg-enclaved {
  box-sizing: border-box !important;

  margin: 3rem 0rem;

  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 8px 8px #d0d0d0;
}
